body {
  background-color: rgb(3, 3, 8);
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  position: auto;
  //pointer-events: none;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
}

h1{
  color: rgb(255, 255, 255);
  margin-left: 48%;
  margin-top: -15%;
}

.dado {
  width: 40%;
  margin: 30%;
  margin-top: 15%;
}

.dados {
  margin-left: 32%;
  margin-top: 5%;
  -webkit-margin-top-collapse: collapse;
  border-color: #ffffff;
  border-style:solid;
  border-width:5px;
  border-radius:5%;
  width: 35%;
  
  max-width: 50%;
}

footer {
  color: rgb(255, 255, 255);
  margin-top: 3%;
}

a {
  text-decoration: none;
}

.dado-hover {
  :hover {
    opacity: 0.5;
  }
}
.btn-roll{
  margin-left: 38%;
  margin-top:3%;
  width: 20%;
}
